/* Your Custom CSS Goes here */
.scoreboard{
    width: 50%;
    background-color: white;
}

.event {
    width: 75%;
    background-color: white;
}
.filtery{
    position: absolute;
    top:265px;
    right: 50px;
    width:200px;
}
.hally{
    width: 615px;
}
.cardy{
    width: 300px;
    height: 300px;
}